#App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100vw;

    #Header {
        align-items: center;
        display: flex;
        flex: 0 0 50px;
        justify-content: center;

        .header__search {
            margin: .5em;
            text-align: center;

            input {
                min-width: 300px;
            }
        }
    }

    #Spotlight {
        align-items: center;
        background-color: #f1f1f1;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        position: relative; // To contain nav arrows

        img {
            height: auto;
            // Make sure image constrains to parent container by subtracting header and nav:
            max-height: calc(100vh - 175px);
            max-width: 100vw;
            width: auto;
        }

        .nav {
            color: darkgray;
            font-size: 2rem;
            opacity: .25;
            position: absolute;
            transition: opacity 2s;

            &:hover { opacity: 1; }

            $nav-spacing: .25em;
            &.nav-prev { left: $nav-spacing; }
            &.nav-next { right: $nav-spacing; }
        }
    }

    #Navigation {
        align-items: center;
        background-color: darkgray;
        bottom: 0;
        display: flex;
        flex: 0 0 125px;
        overflow-x: auto;

        @media (min-width: 768px) {
            justify-content: center; // Center thumbnails on larger screens
        }

        .image {
            margin-right: .5em;
            &:last-child { margin-right: 0; }
        }
    }
}