#Navigation {
    align-items: center;
    background-color: darkgray;
    bottom: 0;
    display: flex;
    flex: 0 0 125px;
    justify-content: center;
    
    .navigation__container {
        display: flex;
        flex-grow: 0;
        height: 120px;
        overflow-x: auto;
    }

    img {
        height: 100px;
        margin: 0 .1em;
        width: 100px;
    }
}