#Navigation {
    align-items: center;
    background-color: darkgray;
    bottom: 0;
    display: flex;
    flex: 0 0 125px;
    justify-content: center;
    overflow-x: auto;

    img {
        height: 100px;
        margin-left: .5em;
        margin-right: .5em;
        width: 100px;
    }
}